* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: gray;
}

.header {
 background: white;
 padding: 20px; 
 width: 100%;
 display: flex;
 justify-content: space-between;
}

.header img {
 height: 150px
}

.contenedorDescripcion h2 {
    background: lavender;
    padding: 20px;
    margin: 30px auto;
    width: 80%;
    border-radius: 7px;
}
    
.contenedorDescripcion h3 {
    background: lavender;
    padding: 20px;
    margin: 30px auto;
    width: 50%;
    border-radius: 7px;
}

.contenedorDescripcion h3 {
    background: lavender; 
    padding: 30px;
    margin: 40px auto;
    width: 50%;
    border-radius: 35px;
}

.contenedorDescripcion {
     background: white;
     padding: 30px;
     margin: 40px auto;
     width: 50%;
     border-radius: 35px;
    
}

.contenedorNombre h2 {
    justify-content: center;
    display: flex;
}

.contenedorInformacion h3 {
    justify-content: center;
    display: flex;
}

.contenedorExperiencia h3 { 
justify-content: center;
display: flex;
}

.contenedorLaboral h3 {
  justify-content: center;
  display: flex;
}

.contenedorContacto {
    background: lavender;
    padding: 40px;
    margin: 50px auto;
    width: 100%;
    border-radius: 50px;
}

.contenedorContacto {
    justify-content: center;
    display: flex;
}